* {
	margin: 0;
	padding: 0;
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*background: linear-gradient(135deg, #0391ff 0%,#016bbc 47%,#016bbc 55%,#0391ff 100%);*/
}



